html
  head
    script(src="bower_components/masonry/dist/masonry.pkgd.min.js")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
  body
    #container.js-masonry
      img.item(src="img/4-chan.jpg")
      img.item(src="img/abra.jpg")
      img.item(src="img/blastoise.jpg")
      img.item(src="img/blue-starter-chain.jpg")
      img.item(src="img/charizard.jpg")
      img.item(src="img/charmander.jpg")
      img.item(src="img/charmeleon.jpg")
      img.item(src="img/flappy-bird-pop.jpg")
      img.item(src="img/flareon.jpg")
      img.item(src="img/lapras.jpg")
      img.item(src="img/link.jpg")
      img.item(src="img/link-vs-octorock.jpg")
      img.item(src="img/mage.jpg")
      img.item(src="img/megaman.jpg")
      img.item(src="img/nana.jpg")
      img.item(src="img/nyan-cat.jpg")
      img.item(src="img/ponyta.jpg")
      img.item(src="img/reddit-alien.jpg")
      img.item(src="img/red-trainer.jpg")
      img.item(src="img/red-starter-chain.jpg")
      img.item(src="img/squirtle.jpg")
      img.item(src="img/wartortle.jpg")
  script(src="js/custom.js")
